{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your SwapFlats account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}

If you didn't request this password reset, you can ignore this email.

Thanks for using SwapFlats!

The SwapFlats Team
{% endautoescape %}